.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 10px;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s ease all;
    height: 100%;
    color: #fff;
}

.main_wrapper {
    margin-bottom: 20px;
    max-width: 20%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.more_details {
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.more_details:hover {
    border: 1px solid #fff;
    color: #fff;
}



@media (max-width: 1199px) {
    .main_wrapper {
        max-width: 25%;
        width: 25%;
    }
}

@media (max-width: 991px) {
    .main_wrapper {
        max-width: 33.33%;
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .main_wrapper {
        max-width: 50%;
        width: 50%;
    }

    .navbar-nav .mx-5 {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media (max-width: 575px) {
    .main_wrapper {
        max-width: 100%;
        width: 100%;
    }

    .navbar-nav span {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .media {
        width: 90%;
    }
}

.poster {
    border-radius: 10px;
}

.title {
    width: 100%;
    font-size: 17px;
    padding: 8px 0;
}

.subTitle {
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
}

.badge {
    position: absolute;
    right: -2px;
    background-color: #fff !important;
    top: -2px;
    color: #282c34;
    border: 1px solid #282c34;
}